.butSer {
    display: block;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*for the phones*/
@media screen and (max-width: 510px) {
  
    
}
/* for tablets */
@media screen and (min-width: 510px) {
    
    
}
/* for computers */
@media screen and (min-width: 1400px) {
  
    
} 